@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import '../core/Reset.scss';
@import './App.scss';

.article-aboutme {
  background-color: $light-color;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__wrapper {
    width: 100%;
    margin: auto;
    max-width: 320px;
    padding: 30px 38px 45px;
  }
  &__img {
    width: 170px;
    height: 170px;
    border: 2px solid $yellow;
    box-shadow: 0 2px 3px 0 $shadows;
    border-radius: 70%;
    margin: 15px 25px 25px;
    align-self: center;

    &-icon {
      width: 100%;
      border-radius: 70%;
      align-self: center;
    }
  }
  & &__headline {
    font-size: 0.875rem;
    color: $secondary-color;
    text-transform: capitalize;
    line-height: 1.875rem;
  }

  &__title {
    font-size: 1.5rem;
    font-family: $font-titles;
    line-height: 1.875rem;
    margin: 0;
  }

  &__text {
    color: $dark-grey;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 15px 0 30px;
    text-align: justify;
  }
}

.go-button {
  background-color: $light-color;
  border: 2px solid $primary-color;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: background-color border box-shadow ease 0.8s;
  &:hover {
    background-color: $pink;
    border: 4px solid $secondary-color;
    box-shadow: 0 2px 4px 0 $shadows;
  }
  a {
    color: $primary-color;
    font-size: 1.25rem;
    line-height: 2.8125rem;
    font-weight: 500;
    transition: color ease 0.5s;
    &:hover {
      color: $light-blue;
    }
  }
}

@include tablet {
  .aboutme {
    padding: 30px 39px 60px;
    min-height: 330px;
    &__wrapper {
      max-width: 768px;
    }
    &__title {
      font-size: 1.625rem;
      line-height: 2.8125rem;
    }
    &__text {
      font-size: 1.25rem;
      margin: 30px 0 30px;
    }
  }

  .go-button {
    width: 160px;
  }
}

@include desktop {
  .aboutme {
    padding: 60px 275px;
    min-height: 360px;
    &__wrapper {
      max-width: 1280px;
    }
    &__headline {
      font-size: 1rem;
    }
    &__title {
      font-size: 2rem;
    }
    &__img {
      width: 200px;
      height: 200px;
    }
  }

  .go-button {
    width: 91px;
  }
}
