@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import '../core/Reset.scss';
@import './App.scss';

.hero {
  height: 100vh;
  background-color: #facfad;
  background-image: url('../../images/fondos/3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 53px;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: $light-color;
    padding-bottom: 45px;
    max-width: 1280px;

    color: white;
    line-height: 0.8;
    &__h1 {
      font-size: 2rem;
      font-family: $font-MonsterratAlternates;
      line-height: 3.4375rem;
      text-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    }
    &__img {
      width: 200px;
      height: 200px;
      &-icon {
        width: 100%;
      }
    }
    &__p {
      font-family: $font-Oxygen;
    }
  }
}
.span {
  margin: 5px;
}
.scroll-down {
  background-color: $light-color;

  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  .fa-angle-down {
    color: #be796d;

    animation: scroll 1s;
    font-size: 2rem;
    transition: transform ease 0.8s;
    &:hover {
      transform: translate(0, 25%);
    }
  }
}

@include tablet {
  .hero {
    max-height: 768px;
    padding-bottom: 45px;
    &__title {
      padding-bottom: 30px;
      &__h1 {
        font-size: 5rem;
        line-height: 6.625rem;
        span {
          display: inline-block;
        }
      }
      &__p {
        font-size: 1.5rem;
      }
    }
  }
}

@include desktop {
  .hero {
    padding-bottom: 13px;

    &__title {
      &__h1 {
        font-size: 6.25rem;
        line-height: 8.25rem;
        margin: 0;
      }
      &__p {
        margin: 0;
      }
    }
  }
}
