@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: $font-main;
  font-size: $normal-font;
  font-weight: $font-medium;
  color: $primary-color;
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.App {
  text-align: center;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: $margin-2;
  margin-right: $margin-2;
}
