@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';
@import './App.scss';

.portfolio {
  background-color: white;
  &__wrapper {
    margin: auto;
    width: 100%;
    max-width: 1280px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 1.5rem;
    color: $primary-color;
    font-family: $font-titles;
    line-height: 1.875rem;
    margin: 25px 0;
    padding-top: 15px;
  }
  &__img {
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;

    &-img {
      width: 100%;
      border-radius: 0.5rem;
      -webkit-box-shadow: 10px 10px 12px -6px rgba(79, 39, 39, 1);
      -moz-box-shadow: 10px 10px 12px -6px rgba(79, 39, 39, 1);
      box-shadow: 10px 10px 12px -6px rgba(79, 39, 39, 1);
      &:hover {
        transition: 0.5s -webkit-box-shadow -moz-box-shadow box-shadow;
        -webkit-box-shadow: 10px 10px 9px -6px rgba(48, 43, 48, 1);
        -moz-box-shadow: 10px 10px 9px -6px rgba(48, 43, 48, 1);
        box-shadow: 10px 10px 9px -6px rgba(48, 43, 48, 1);
      }
    }
  }
}

@include tablet {
  .portfolio {
    &__container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    &__title {
      font-size: 1.8rem;
      color: $primary-color;
      font-family: $font-titles;
      line-height: 1.875rem;
      margin: 25px 0;
    }
    &__img {
      width: 250px;
      height: 150px;
      margin: 20px;

      &-img {
        width: 100%;
        border-radius: 0.5rem;
        -webkit-box-shadow: 10px 10px 5px -6px rgba(82, 11, 11, 0.75);
        -moz-box-shadow: 10px 10px 5px -6px rgba(68, 20, 20, 0.75);
        box-shadow: 10px 10px 5px -6px rgba(58, 23, 23, 0.75);
      }

      &:hover .portfolio__link {
        bottom: 0;
      }
    }
    &__link {
      font-size: 1.2rem;
    }
  }
}

@include desktop {
  .portfolio {
    &__title {
      font-size: 2rem;
      line-height: 1.9rem;
      margin: 30px 0;
    }

    &__img {
      height: 165px;
    }
  }
}
