@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';
@import './App.scss';
.portfolio {
  background-color: var(--white-color);

  &__container {
    justify-items: center;
    row-gap: 2rem;
  }
  &__img {
    position: relative;
    overflow: hidden;

    & img {
      border-radius: 0.5rem;
    }

    &:hover .portfolio__link {
      bottom: 0;
    }
  }
}
