@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';
@import './App.scss';

.portfolio {
  background-color: white;
  &__wrapper {
    margin: auto;
    width: 100%;
    max-width: 1280px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 1.5rem;
    color: $primary-color;
    font-family: $font-titles;
    line-height: 1.875rem;
    margin: 25px 0;
  }
  &__img {
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;

    &-img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
  &__link {
    margin: 0;
    padding: 0;
    color: $dark-grey;
  }
}

@include tablet {
  .portfolio {
    &__container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    &__title {
      font-size: 1.8rem;
      color: $primary-color;
      font-family: $font-titles;
      line-height: 1.875rem;
      margin: 25px 0;
    }
    &__img {
      width: 250px;
      height: 260px;
      margin: 20px;

      &-img {
        width: 100%;
        border-radius: 0.5rem;
      }

      &:hover .portfolio__link {
        bottom: 0;
      }
    }
    &__link {
      font-size: 1.2rem;
    }
  }
}

@include desktop {
  .portfolio {
    &__title {
      font-size: 2rem;
      line-height: 1.9rem;
      margin: 30px 0;
    }

    &__link {
      font-size: 1.2rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
