@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';
@import './App.scss';

.skills {
  margin: auto;

  &__container {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  &__subtitle {
    color: $primary-color;
    margin-bottom: $margin-3;
  }
  &__name {
    display: inline-block;
    font-size: $small-font;
    margin-right: $margin-2;
    margin-bottom: $margin-3;
    padding: 0.25rem 0.5rem;
    background-color: $light-color;
    border-radius: 0.25rem;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }
  }
  &__img {
    width: 200px;
    &-1 {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}
