// Fonts
$font-main: 'Roboto', sans-serif;
$font-titles: 'Roboto Slab', serif;

// colors
$primary-color: #f26002;
$secondary-color: #8ccbea;
$dark-grey: #4a4a4a;
$light-color: #ffffff;
$light-blue: #eff9ff;
$blue: #0271bc;
$dark-blue: #304268;
$shadows: rgba(0, 0, 0, 0.5);

/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1280px;
